header {
  height: 15vh;
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

header .container button {
  width: 50px;
  height: 2rem;

  border: 0;
  background: #caa892;
  color: #fff;

  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
}

header img {
  width: 120px;
}

header nav {
  display: none;
}

header nav.active {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0;

  width: 50%;
  height: 100vh;
  background: #caa892;

  display: block;
}

header nav a {
  display: flex;
  color: #fff;
  padding: 0.5rem 1.5rem;

  text-decoration: none;
  font-weight: 400;
}

/* SECTION BANNER */

.section-banner {
  background-image: url(../img/bg-fundo.svg);
  background-repeat: no-repeat;
  background-position-x: -5.2rem;
  background-position-y: 530px;
}

.section-banner .container {
  display: flex;
  flex-direction: column;
}

.section-banner .container .card-image {
  order: 1;
  height: 230px !important;
}

.section-banner .container .describe {
  order: 2;
  padding-bottom: 8rem;
}

.section-banner .container .describe a {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;

  background: #37806b;
  color: #fff;

  border-radius: 20px 0px;

  margin-top: 1rem;

  text-decoration: none;

  font-weight: 400;
}

/* SECTION SERVICES */
.section-service {
  padding-top: 1rem;
}

.section-service .title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-service .container .btns {
  display: flex;
  align-items: center;
  float: right;
}

.section-service .container .service-items {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
}

.service-items .card-service {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;

  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;
}

.service-items .card-service:nth-child(2) {
  color: #fff !important;
}

.service-items .card-service h2 {
  font-size: 1rem;
}

.service-items .card-service p {
  font-size: 0.9rem;
}

.service-items .card-service + .card-service {
  margin-top: 1rem;
}

.service-items .card-service img {
  width: 15%;
  margin-bottom: 1rem;
}

/* SECTION ABOUT */
.section-about-us .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.section-about-us .card-image {
  order: 2;
}

.section-about-us .card-image img {
  width: 100%;
}

.section-about-us .describe-about {
  order: 1;
}

.section-about-us .title {
  margin-bottom: 1rem;
}

.section-about-us .title p {
  font-size: 0.9rem;
}

/* SECTION SUCCESS */

.section-successful h1 {
  font-size: 6rem;
  line-height: 5rem;

  color: #212121;
}

.section-successful h2 {
  color: #212121;
}

/* SECTION COMPLETED */
.section-completed {
  height: 70vh;
  background: #f8f8f8;
}

.section-completed h1 {
  padding-top: 2rem;
  text-align: center;
}

.section-completed .container .cards {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-completed .container .cards div {
  width: calc(50% - 1rem);
  height: 8rem;
  background: #fff;

  text-align: center;

  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;

  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

/* SECTION TESTIMONIALS */
.section-clients {
  padding: 3rem 0;
}

.section-clients .title {
  text-align: center;
}

.section-clients .btns {
  display: flex;
  float: right;
}
