* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Poppins;
  font-weight: 300;
  scroll-behavior: smooth;
}

.container {
  max-width: 340px;
  margin: 0 auto;
}

.container .title span {
  font-weight: 400;
  text-transform: uppercase;
  color: #646464;
}

.container .title h1 {
  color: #212121;
  font-weight: 600;
}

.card-image {
  border: 2px solid #caa892;
  border-radius: 50px 0px;

  margin-top: 3rem;

  width: 95%;
  margin: 3rem auto;

  height: 280px;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-radius: 50px 0px;

  margin-top: -0.5rem;
  margin-left: -0.5rem;
}

.container .btns a {
  display: flex;
  color: #caa892;

  text-decoration: none;
}

.container .btns a + a {
  margin-left: 1rem;
}
